<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='main-bar-contents'>
    <%= link_to image_tag('f_f_business_23_s64_f_business_23_2bg.png', size: '30x30'), root_path, class:"page-icon-img" %>
    <%= link_to 'みんなのカレンダー', root_path, class:"page-icon" %>
    <div class='nav'>
      <ul class='lists-left'>
        <li></li>
        <li></li>
      </ul>
      <ul class='lists-right'>
        <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname += ' さん', edit_user_registration_path, class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>

    </div>
  </div>
</header>