<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to '参加者一覧', room_room_users_path(@room)%>
      <%= link_to '退出', root_path %>
    </div>
  </div>
</div>

<div class="events">
  <%= link_to '新規予定登録', new_room_event_path %>

  <%= month_calendar events: @events do |date,events| %>
    <%= date.day %>

    <% events.each do |event| %>
      <div>
        <%= link_to event.title, room_event_path(@room, event) %>
      </div>
    <% end %>
  <% end %>
</div>

