<%= render "shared/header" %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main-side">
    <%= form_with model: @event, url: room_event_path(@event.room_id), method: :patch ,local: true do |f| %>

      <div class="title">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="time">
        <%= f.label :start_time %>
        <%= f.datetime_select :start_time %>
      </div>

      <div class="content">
        <%= f.label :content %>
        <%= f.text_field :content %>
      </div>


      <div class="submit">
        <%= f.submit %>
      </div>

    <% end %>
  </div>
</div>