<%= render "shared/header" %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class='event-detail'>
    <div class='event-detail_left'>
      <h1>予定詳細</h1>
      <div class='event-detail_field'>
        <div class='event-detail_field--up'>
          <div class='event-detail__label'>
            <%= 'タイトル'%>
          </div>
          <div class='event-detail__field--down'>
            <%= @event.title %>
          </div>
        </div>
        <div class='event-detail_field--up'>
          <div class='event-detail__label'>
            <%= '開始時刻'%>
          </div>
          <div class='event-detail__field--down'>
            <%= @event.start_time.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
        <div class='event-detail_field--up'>
          <div class='event-detail__label'>
            <%= 'イベント内容'%>
          </div>
          <div class='event-detail__area'>
            <%= @event.content %>
          </div>
        </div>
        <div class='event-button'>
          <div class='event_edit_button'>
            <%= link_to '編集する', edit_room_event_path(@event.room_id), class: "event_edit_btn" %>
          </div>
          <div class='event_destroy_button'>
            <%= link_to '削除する',room_event_path(@event.room_id), method: :delete, data: { confirm: 'Are you sure?' },class:"event_destroy_btn" %>
          </div>
          <div class='apply_show_button'>
            <%= link_to 'カレンダーへ', room_events_path(), class:"apply_show_btn" %>
          </div>
        </div>
      </div>
    </div>
    <div class='event-detail_right'>
      <h1>コメント</h1>
      <div class='event-detail_field'>
        <%= form_with model: [@event, @comment], url: room_event_comments_path(event_id: @event.id), local: true do |f| %>
          <%= f.text_area :text, placeholder: "コメントする"%>
          <%= f.submit "コメント送信" %>
        <% end %>
      </div>
      <div id='comments'>
        <% @comments.reverse_each do |comment| %>
          <p><%= comment.user.nickname %>さん-<%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <%= comment.text %>
        <% end %>
      </div>
    </div>
  </div>
</div>