<%= render "shared/header" %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class='room-detail'>
    <h1>ルーム詳細</h1>
    <div class='room-detail_field'>
      <div class='room-detail_field--up'>
        <div class='room-detail__label'>
          <%= 'タイトル'%>
        </div>
        <div class='room-detail__field--down'>
          <%= @event.title %>
        </div>
      </div>
      <div class='room-detail_field--up'>
        <div class='room-detail__label'>
          <%= '開始時刻'%>
        </div>
        <div class='room-detail__field--down'>
          <%= @event.start_time.strftime("%Y-%m-%d %H:%M") %>
        </div>
      </div>
      <div class='room-detail_field--up'>
        <div class='room-detail__label'>
          <%= 'イベント内容'%>
        </div>
        <div class='room-detail__area'>
          <%= @event.content %>
        </div>
      </div>
      <div class='room-button'>
        <div class='room_edit_button'>
          <%= link_to 'Edit', edit_room_event_path(@event.room_id), class: "room_edit_btn" %>
        </div>
        <div class='room_destroy_button'>
          <%= link_to 'Destroy',room_event_path(@event.room_id), method: :delete, data: { confirm: 'Are you sure?' },class:"room_destroy_btn" %>
        </div>
        <div class='apply_show_button'>
        <%= link_to 'Back', room_events_path, class:"apply_show_btn" %>
      </div>
  <!--<p id="notice"><%= notice %></p>

  <p>
    <strong>タイトル</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong>時間</strong>
    <%= @event.start_time.strftime("%Y-%m-%d %H:%M") %>
  </p>

  <p>
    <strong>内容</strong>
    <%= @event.content %>
  </p>

  <%= link_to 'Edit', edit_room_event_path(@event.room_id) %>
  <%= link_to 'Destroy',room_event_path(@event.room_id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', room_events_path %>-->
</div>
